@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethical Alert</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/StyleSheet1.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Ethical Alert</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Cause", "Home")">Causes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Signatures", "Home")">Signatures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Admin", "Home")">Admin</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="col-md-12">
            <h1> Express your objection </h1>
            <p class="lead">
                "Making people conscious about a problem or issue.
                You want to make a certain topic or issue more visible within a community.<br>
                The goal is to make people understand the importance of a certain issue and find support to address it".
            </p>
        </div>
        

        <div class="col-md-6">
            <h3>Sign In</h3>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="login-email">Email</label>
                    <input type="email" class="form-control" id="login-email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label for="login-password">Password</label>
                    <input type="password" class="form-control" id="login-password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" id="sign-in" type="submit" onclick="alert()">Sign-in</button>
                    <script>
                        function alert() {
                            alert("cause added successfully");
                        }

                    </script>
                    <p>

                        Don't have an account? &nbsp; <a href="@Url.Action("Create","Registrations")">Register Here</a>
                    </p>
                </div>
            </form>
        </div>
    </div>

    <script src="../scripts/Login.js"></script>
</body>
</html>